<body>
	<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                	
                </a>
            </li>
          
            <li>
                <h3><a><i class="fa fa-exclamation-circle"></i></a> <%= link_to "Report Now", new_report_path %>
            </li>

            <li>
                <h3><a href="#"><span class="glyphicon glyphicon-time"></span> Filter Time</a></h3>
            </li>

            <li>
                <h3><a href="#"><span class="glyphicon glyphicon-calendar"></span> Filter Dates</a></h3>
            </li>

            <li>
                <h3><a href="#"><span class="glyphicon glyphicon-filter"></span> Filter Types</a></h3>
            </li>

            <!-- <li>
   				<h3>
  	            <div class="btn-group">
        				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        				    <span class="glyphicon glyphicon-filter"></span>  Filter Type <span class="caret"></span>
        				  </button>
        				  <ul class="dropdown-menu">
        				    <li><a href="#" id="verbal">Verbal</a></li>
        				    <li><a href="javascript:filter_by_type('physical');">Physical</a></li>
        				    <li><a href="javascript:filter_by_type('stalking');">Stalking</a></li>
        				    <li><a href="javascript:filter_by_type('groping');">Groping</a></li>
        				  </ul>
        				</div>
              </h3>
      			</li> -->


      		 <li>
                <h3><a><i class="fa fa-file-code-o"></i></a> <%= link_to "Try Out API", welcome_api_path %></h3>
            </li>

            <% if user_signed_in? %>
            <li>
                <h4><a hred="#"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </a><h4>
            </li>
            <% else %>

            <li>
                <h4><a href="#"> <%= link_to "Sign up", new_user_registration_path %> </a></h4>
            </li>

            <li>
              <h4><a href="#"> <%= link_to "Sign In", new_user_session_path %> </a></h4>
            </li>
            <% end %>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid"> 

            <div class="row" id="map">
                <div class="col-md-12">
                		<h2 id="school-name"></h2>
                	<div id="map-canvas" style="height:85%; width:auto;"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
	 

</body>


